 <h1>AREA MANAGER PLUGIN ADMIN panel</h1>
 <p>copyrigt info, szerzők, támogatás lehetőség stb.</p>
 <h2>Itt lesznek magadhatóak a plugin beállításai</h2>
 <ul>
		<li>Google API_KEY  (help, hogy kell ilyet beszerezni)</li>
		<li>Default google map location pl: "Budapest Hungary"(új felvitelnél ez a térkép jelenik meg)</li>
		<li>Default google map zoom (ajánlott:7)</li>  	
</ul>
<p>User akciók:  "save" "cancel" save esetén tárol. Mindkét esetben visszatér a wp admin oldalra (domain/wp-admin/index.php)</p>
